---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

$base-font-family: Verdana, Sans-serif;
$base-font-size:   0.9em;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;

$spacing-unit:     2em;
$gutter:           1em;
$text-color:       #111;
$background-color: white;

$brand-color:      #720F10; 

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


body {
	min-width: 500px;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

h1, h2, h3, .title {
	color: $brand-color;
	font-family: Trebuchet MS, Verdana, sans;
	font-weight: bold;
}

.title {
	font-size: 40px;
	
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    text-align:left;
    right: 0px;
	div {
		padding:4px;
		&:hover {
			background-color: $brand-color;
			color:white;
		}
	}
}
.dropdown:hover .dropdown-content {
    display: block;
}

.shout {
	font-family: Palatino, serif;
	font-weight: bold;
	text-shadow: 1px 0 0 #CCC, 0 -1px 0 #CCC, 0 1px 0 #CCC, -1px 0 0 #CCC;
}

img.thumb {
	max-width:80px;
}