<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    
      <div class="wrapper">
		 <div class="page-content">
			  {{ content }}
		</div><div class="page-news">
		<h2>News and Blogs</h2>
		{% for page in site.posts limit:5 %}
		    <div class="item" onclick="location.href='{{page.url}}'">
		      <h3>{{page.title}}</h3>
		      <p>{{page.description}}</p>  
		    </div>
		{% endfor %}
      </div>
    </div>
    

    {% include footer.html %}

  </body>

</html>
