<!DOCTYPE html>
<html>

{% include head.html %}
<style>
hr {
	border: 1px solid grey;
	margin-top: 1em;
	margin-bottom: 1em;
}
</style>
<body>


	{% include header.html %}

	<div class="wrapper">
		<div>
			<hr>
			<div style='position: relative'>
				<img src=/img/portrait.jpg style='max-height: 200px;style='float:right''>
				<div style='position: absolute; top: 50px; right: 0px'>
					<div class=title>
						OSGi & Java<br /> Expertise
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div style="clear: both"></div>
		<div class=page-content>{{ content }}</div>{% include twitter.html %}
	</div>

	{% include footer.html %}
</body>

</html>
