<!DOCTYPE html>
<html>

{% include head.html %}
<style>
hr {
	border: 1px solid grey;
	margin-top: 1em;
	margin-bottom: 1em;
}
</style>
<body>


	{% include header.html %}

	<div class="wrapper">
		<div>
			<hr>
			<div style='position: relative'>
				<div style='position: absolute; top: 50px; right: 0px; z-index: 3'>
					<div class=title>
						OSGi & Java<br /> Expertise
					</div>
				</div>
				<img src=/img/portrait.jpg style='max-height: 300px;style='float:right''>
			</div>
			<hr>
		</div>
		<div style="clear: both"></div>
		<div class=page-content>{{ content }}</div><div class="page-news">
		<h2>News and Blogs</h2>
		{% for page in site.posts limit:5 %}
		    <div class="item" onclick="location.href='{{page.url}}'">
		      <h3>{{page.title}}</h3>
		      <p>{{page.description}}</p>  
		    </div>
		{% endfor %}
      </div>
	</div>

	{% include footer.html %}
</body>

</html>
