<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}

    
      <div class="wrapper">
		 <div class="page-content">
			  {{ content }}
		</div>{% include twitter.html %}
    </div>
    

    {% include footer.html %}

  </body>

<script>
(function() {
    var pre = document.getElementsByTagName('pre'),
        pl = pre.length;
    for (var i = 0; i < pl; i++) {
        pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
        var num = pre[i].innerHTML.split(/\n/).length;
        for (var j = 0; j < num-1; j++) {
            var line_num = pre[i].getElementsByTagName('span')[0];
            line_num.innerHTML += '<span>' + (j + 1) + '</span>';
        }
    }
})();
</script>

</html>
